# Mia yun Ruse's `.config`
## .gitignore

# Cruft
*.pyc
.DS_Store

# Cache, because SOME people don't use XDG to its fullest :<
vscode/workspaceStorage
vscode/globalStorage
vscode/History
vscode/sync
micro/buffers
micro/backup

# Personal stuff and private keys
ssh/
gh/hosts.yml
zsh/calendar.txt

# Device-specific
bin_device/
zsh/path_device.zsh
