# Mia yun Ruse's `.config`
## .gitignore

# Junk
.DS_Store

# This isn't what .config is for you fools! Read XDG! D:
vscode/workspaceStorage
vscode/globalStorage
vscode/History
vscode/sync

micro/buffers/history

# Device-only
ssh/
device_bin/
zsh/path_device.zsh
zsh/calendar.txt
gh/hosts.yml
